<div style="width: 2480px; height: 3030px; position: relative; background: white; overflow: hidden; box-sizing: border-box">
    <div style="width: 760px; height: 189px; left: 892px; top: 134px; position: absolute; color: black; font-size: 165px; font-family: 'Bakbak One'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">UMASENY</div>
    <div style="width: 617px; height: 82px; left: 967px; top: 381px; position: absolute; color: black; font-size: 80px; font-family: 'Bakbak One'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">ORDEN DE PAGO</div>
    <div style="left: 156px; top: 543px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">LUGAR Y FECHA:</div>
    <div style="left: 620px; top: 543px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">______________</div>
    <div style="left: 156px; top: 807px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">___________________ (L._____________) AFECTANDO LO SIGUIENTE:</div>
    <div style="width: 583px; left: 1710px; top: 543px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; white-space: nowrap; overflow: hidden; box-sizing: border-box">________________</div>
    <div style="left: 1081px; top: 631px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">_____________________________________</div>
    <div style="width: 1694px; left: 552px; top: 719px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">______________________________________________________</div>
    <div style="left: 1100px; top: 543px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">UNIDAD EJECUTORA:</div>
    <div style="left: 156px; top: 631px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">SIRVASE PAGAR A LA ORDEN DE:</div>
    <div style="width: 374px; left: 156px; top: 719px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">LA SUMA DE :</div>
    <div style="width: 367px; height: 72px; left: 1619px; top: 393px; position: absolute; color: black; font-size: 80px; font-family: 'Arapey'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">N°. 0000000</div>
    <div style="width: 1968px; height: 58px; left: 291px; top: 323px; position: absolute; color: black; font-size: 46px; font-family: 'Bakbak One'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">UNIDAD DESCONCENTRADA MUNICIPAL DE AGUA Y SANEAMIENTO EL NEGRITO, YORO   </div>
    <table class="orden-tabla orden-tabla-codigos" style="left: 156px; top: 954px; position: absolute">
        <thead>
            <tr>
                <th>FF1</th>
                <th>OF2</th>
                <th>FE3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table class="orden-tabla orden-tabla-descripcion" style="left: 156px; top: 1072px; position: absolute">
        <thead>
            <tr>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
        </tbody>
    </table>
    <table class="orden-tabla orden-tabla-estructura" style="left: 156px; top: 1535px; position: absolute">
        <colgroup>
            <col style="width: 1820px" />
            <col style="width: 380px" />
        </colgroup>
        <thead>
            <tr>
                <th colspan="2" class="orden-estructura-titulo">ESTRUCTURA</th>
            </tr>
            <tr class="orden-estructura-columnas">
                <th class="orden-estructura-th-detalle">DETALLE OBJETO DE GASTO</th>
                <th class="orden-estructura-th-subtotal">SUB-TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr><td class="orden-estructura-col-detalle">&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td class="orden-estructura-col-detalle">&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td class="orden-estructura-col-detalle">&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td class="orden-estructura-col-detalle">&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td class="orden-estructura-col-detalle">&nbsp;</td><td>&nbsp;</td></tr>
        </tbody>
    </table>
    <div style="left: 156px; top: 2494px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="left: 975px; top: 2494px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="left: 1779px; top: 2723px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="left: 1779px; top: 2826px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="left: 1779px; top: 2929px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="left: 697px; top: 2898px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="left: 1795px; top: 2494px; position: absolute; color: black; font-size: 55px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">__________________</div>
    <div style="width: 529px; height: 58px; left: 172px; top: 2561px; position: absolute; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">FIRMA ADMINISTRADORA</div>
    <div style="width: 1096px; height: 97px; left: 172px; top: 2732px; position: absolute; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">Conforme lo arriba descrito, DECLARO recibir<br>el importe en:</div>
    <div style="width: 1096px; height: 48px; left: 172px; top: 2874px; position: absolute; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">CHEQUE No.________</div>
    <div style="width: 529px; height: 58px; left: 991px; top: 2561px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">FIRMA GERENTE</div>
    <div style="width: 529px; height: 58px; left: 713px; top: 2971px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">FIRMA DEL INTERESADO</div>
    <div style="width: 529px; height: 58px; left: 1321px; top: 2732px; position: absolute; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">IDENTIDAD O R.T.N. #</div>
    <div style="width: 529px; height: 58px; left: 1321px; top: 2835px; position: absolute; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">IMPUESTO VECINAL</div>
    <div style="width: 529px; height: 58px; left: 1321px; top: 2938px; position: absolute; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">FECHA DE PAGO</div>
    <div style="width: 529px; height: 58px; left: 1811px; top: 2561px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: 'Alexandria'; font-weight: 400; word-wrap: break-word; box-sizing: border-box">FIRMA PRESIDENTE</div>
    <div style="width: 2200px; height: 310px; left: 156px; top: 2719px; position: absolute; border: 3px solid black; box-sizing: border-box; display: flex; flex-direction: row">
        <div style="flex: 0 0 1155px; height: 100%; border-right: 3px solid black; box-sizing: border-box"></div>
        <div style="flex: 1 1 0; height: 100%; box-sizing: border-box"></div>
    </div>
</div>
